
.container {
  width: 70%;
  padding: 1% 15% 1% 15%;
}
.scroll{
  height: 90vh;
  overflow:auto;
}
.phoneHeader{
  display: none;
  padding-top:1rem;
  line-height: 2rem;
  position: fixed;
  background: #fff;
  width: 100%;
  top:0;
  height: 2.5rem;
}
.phoneHeaderBack{
  float: left;
  margin-left:1rem;
}
.phoneHeaderBackImg{
  width:2rem;
  height: 2rem;
}
.phoneHeaderHomeImg{
  width:2rem;
  height: 2rem;
}
.phoneHeaderHome{
  width:2rem;
  height: 2rem;
  float: right;
  margin-right:1rem;
}
.column {
  width: 70%;
  padding: 3% 15% 4% 15%;
  display: flex;
  justify-content: space-between;
}

.class {
  width: 8rem;
  height: 3rem;
  background: #fff;
  border-radius: 10rem;
  margin-top: 1rem;
  line-height: 3rem;
  font-size: 2rem;
}
.classActive{
  background: #49acf3;
  color:#fff;
}

.share {
  clear: both;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  background: #49acf3;
  border-radius: 10px;
  margin-bottom: 20px;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.img {
  width: 100%;
  height: 13rem;
  border-radius: 1rem 1rem 0 0;
}

.userImgAvatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

.block {
  padding: 1%;
  width: 17rem;
  margin-left:2%;
}

.blockInfo {
  width: 80%;
  padding: 10%;
  height: 9rem;
  background: #fff;
  border-radius: 0 0 10px 10px;
}

.userInfo {
  padding-top: 4rem;
}

.headerImg {
  height: 13rem;
}

.text {
  text-align: left;
  font-size: 1.5rem;
  padding-top: 1rem;
  width: 100%;
  word-wrap: break-word;
}

.userImg {
  float: left;
}

.userNick {
  font-size: 1rem;
  float: left;
  line-height: 3rem;
  margin-left: 1rem;
}

.praise {
  float: right;
  margin-right: 1rem;
  font-size: 1rem;
  line-height: 3rem;
}

.num {
  float: right;
  font-size: 1rem;
  line-height: 3rem;
}
.phoneFooter{
  display: none;
  position: fixed;
  bottom:0;
  width:100%;
  height: 3rem;
  background: #fff;
}
.footerTrans{
  width:3.4rem;
  height: 3.4rem;
  margin: 2rem auto;
  border-radius: 50%;
  transform: rotate(180deg);
  transform-origin: top;
  background: #fff;
}
.footerAdd{
  font-size: 3rem;
  margin: auto;
  color:#fff;
  line-height: 3rem;
  background:#49acf3;
  width:3rem;
  height: 3rem;
  border-radius: 50%;
}
@media (max-width: 980px) {
  .container{
    width:100%;
    padding:0;
  }
  .phoneHeader{
    display: block;
  }
  .share{
    display: none;
  }
  .block{
    padding: 1%;
    width: 45%;
    margin-left:2%;
  }
  .column{
    width: 96%;
    padding:2%;
  }
  .class{
    width:5rem;
    background: #ededed;
    color:#646464;
    font-size: 1rem;
    height: 2rem;
    line-height: 2rem;
    margin-top:0;
  }
  .phoneFooter{
    display: block;
  }
  .img {
    width: 100%;
    height: 20rem;
  }
  .headerImg {
    height: 20rem;
  }
  .userImgAvatar {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .blockInfo {
    width: 80%;
    padding: 10%;
    height: 4rem;
    background: #fff;
    border-radius: 0 0 10px 10px;
  }
  .userInfo {
    padding-top: 1rem;
  }
  .text {
    text-align: left;
    font-size: 1rem;
    padding-top: 0;
    width: 100%;
    height: 2rem;
    word-wrap: break-word;
  }
  .userNick {
    line-height: 2rem;
  }
  .praise {
    line-height: 2rem;
  }
  .num {
    line-height: 2rem;
  }
}
