.container {
  width: 100%;
  /*padding: 1% 15% 1% 15%;*/
}
.hidden{
  display: none !important;
}
.show{
  display: block;
}
.header {
  width: 70%;
  height: 10rem;
  background: #49acf3;
  padding: 10rem 15% 0 15%;
}

.userAvatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transform: rotateX(180deg);
}

.userHeader {
  width: 17rem;
  background: #fff;
  height: 10rem;
  float: left;
}

.userAvatarDiv {
  /*position: absolute;*/
  /*left: 20%;*/
  width: 5rem;
  height: 5rem;
  background: #fff;
  transform: rotateX(180deg);
  transform-origin: top;
  border-radius: 50%;
  margin: 3rem auto auto auto;
}

.userName {
  /*margin-top: 5rem;*/
  font-size: large;
  font-weight: bold;
  margin-top:-3rem;
}

.userContext {
  margin-top: 1rem;
}

.headerList {
  width: 50%;
  float: left;
  padding-left: 2rem;
  margin-top: 6rem;
}

.headerList > div {
  width: 8rem;
  height: 2rem;
  float: left;
  line-height: 2rem;
  background: #49acf3;
  color: #fff;
}

.headerListClick {
  background: #fff !important;
  border-radius: 50px !important;
  color: #49acf3 !important;
}

.headerList > span {
  float: left;
  color: #fff;
  line-height: 2rem;
}


.context {
  width: 70%;
  padding-left: 15%;
  padding-right: 15%;
  float: left;
}

.contextLeft {
  width: 15rem;
  height: 21em;
  background: #fff;
  padding: 1rem;
  float: left;
}

.hTop {
  width: 100%;
  height: 1px;
  background: #c3c4c5;
  margin-top: 1rem;
}

.hConetxt {

}

.hConetxtInfo {
  padding-top: 2rem;
}

.hConetxtInfo > div {
  width: 5rem;
  float: left;
}

.hConetxtEdit {
  padding-top: 2rem;
}

.hConetxtEdit > div {
  margin: 2rem auto auto auto;
  width: 7rem;
  height: 3rem;
  background: #49acf3;
  color: #fff;
  line-height: 3rem;
  border-radius: 70px;
}

.contextRight {
  float: left;
  padding: 2rem;
  width: 70%;

}

.contextRightHeader {
  padding-top: 1rem;
  color:#bfbfbf;
  width: 100%;
  height: 3rem;
}

.contextRightHeader > div {
  float:left;
  width:7rem;
  height: 2rem;
  border:1px solid #bfbfbf;
  border-radius: 1rem;
  line-height: 2rem;
  margin-left:1rem;
}
.contextRightHeaderSelect {
  border:none;
  background: #dde7f6;
  color:#49acf3;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.img {
  width: 100%;
  height: 180px;
  border-radius: 10px 10px;
}

.userImgAvatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.block {
  padding: 1%;
  width: 15rem;
}

.blockInfo {
  width: 80%;
  padding: 10%;
  height: 90px;
  background: #fff;
  border-radius: 0 0 10px 10px;
}

.userInfo {
  padding-top: 10px;
}

.headerImg {
}

.text {
  text-align: left;
  font-size: 14px;
  padding-top: 10px;
  width: 100%;
  word-wrap: break-word;
}

.userImg {
  float: left;
}

.userNick {
  font-size: 8px;
  float: left;
  line-height: 30px;
  margin-left: 10px;
}

.praise {
  float: right;
  margin-right: 10px;
  font-size: 8px;
  line-height: 30px;
}

.num {
  float: right;
  font-size: 8px;
  line-height: 30px;
}
.contextRightCenter{

}
.baseInfo{
  width:100%;
  float:left;
  border-bottom:1px solid #c3c4c5;
  margin-bottom:1rem;
}
.baseInfo>div{
  float:left;
}
.userInfoDiv{
  padding:2rem;
  background: #fff;
  border:1px solid #c3c4c5;
  text-align: left;
}
.baseInputDiv{
  color:#c3c4c5;
  padding-bottom: 1rem;
}
.baseInput{
  border:0;
  margin-left:2rem;
}
.userInfoAvatarDiv{
  text-align: center;
}
.userInfoAvatar{
  width: 10rem;
  height: 10rem;
}
.red{
  color: red;
}
.userNickName>input{
  margin-left:2rem;
}

.userNickName{
  margin-top:3rem;
}
.introduction{
  margin-top:5rem;
}
.introduction>textarea{
  margin-left:5rem;
}
.share {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background: #1296db;
  color: #fff;
  line-height: 50px;
  margin-top:5rem;
  text-align: center;
}






