.bgBox {
  background: #49acf3;
  height: 225px;
}

.body {
  padding-bottom: 50px;
}

.centerLeft {
  background: #fff;
  border-radius: 10px;
  position: relative;
  margin-top: 60px;
  padding-top: 50px;
  text-align: center;
}

.centerLeft .portrait {
  border-radius: 50%;
  overflow: hidden;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: absolute;
  top: -40px;
  left: 0;
  right: 0;
  border: 5px solid #fff;
}

.centerLeft .describe {
  color: #999;
  font-size: 12px;
  padding-top: 10px;
}

.follow {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  margin-left: 30px;
  margin-right: 30px;
}

.follow li {
  display: inline-block;
  width: 30%;
  text-align: center;
  font-size: 20px;
}

.follow li p {
  font-size: 12px;
}

.centerBox {
  margin-top: -150px !important;
}

.cneterNavlist {
  padding-bottom: 100px;
}

.cneterNavlist li {

  margin-left: 30px;
  margin-right: 30px;
  border-bottom: 1px solid #e8e8e8;
  text-align: center;
  padding: 20px 0;

}

.cneterNavlist li a {
  display: inline-block;
  width: 150px;
  background: #49acf3;
  line-height: 40px;
  border-radius: 40px;
  color: #fff;

}

.centerRight {
  padding-top: 90px;
}

.centerRight .menu {
  height: 60px;
  color: #fff;
}

.centerRight .menu a {
  color: #fff;
  font-size: 16px;
  margin: 0 15px;
  display: inline-block;
}

.centerRight .menu a span {
  color: #fff;
  background: #49acf3;
  border-radius: 50px;
  display: block;

  margin: 12px 12px;
  padding: 3px 12px;
}

.centerRight .menu a.avtive span {
  color: #49acf3;
  background: #fff;
  border-radius: 50px;
  display: block;
  margin: 12px 12px;
  padding: 3px 12px;


}

.centerRight .typeBtn {
  padding: 25px 0;
}

.centerRight .typeBtn a {
  display: inline-block;
  width: 80px;
  background: #fff;
  line-height: 35px;
  border-radius: 35px;
  color: #999;
  text-align: center;
  border: 1px solid #c2c2c3;
  margin-right: 20px;
}

.centerRight .typeBtn a.avtive {
  background: #dde7f6;
  border: 1px solid #dde7f6;
  color: #49acf3;
}

.itemList li {
  margin-bottom: 20px;
}

.itemList li a {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  border: 1px solid #e4e8e9;
  padding-bottom: 20px;
}

.itemList li a .img {
  height: 265px;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
}

.itemList li a .ti {
  margin: 0 15px;
  color: #333;
  font-size: 14px;
  padding: 15px 0;
}

.itemList li a .fot {
  margin: 0 15px;
  color: #333;
  font-size: 12px;
}

.itemList li a .fot .left img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 6px;
}

.itemList li a .fot .right img {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}
.cardBox{
  text-align: center;
  padding: 80px 0;
}
.cardBox img{
  width: 60%;
  margin: 0 auto;
}


/* 表单 */
.inputBox {
  background: #fff;
  padding: 45px;
  margin-top: 25px;
  border-radius: 10px;
}
.inputBox .h2{
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 30px;
  margin: 0;
}
.inputBox li {
  /* border-bottom: 1px dotted #dedede; */
  padding-bottom: 30px;
  margin-bottom: 30px;

}
.inputBox li p{
  font-size: 14px;
  padding-bottom: 10px;
}
.inputBox li input,.inputBox li textarea{
  border: 1px solid #dedede;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
}
.UploadAvatar  {
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.Submitted{
  background: #49acf3;
  border-radius: 10px;
  width: 50%;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
}

@media (max-width: 767px) {

  /* 表单 */
  .inputBox {
    margin: 10px -15px 0 -15px;
    padding: 25px;
  }
  .Submitted{
    width: 100%;
  }

  .cardBox{
    text-align: center;
    padding: 20px 0;
  }
  .cardBox img{
    width: 90%;
    margin: 0 auto;
  }
  .centerBox {
    margin-top: 0 !important;
  }

  .h5CenterTop {
    background: #fff;
    padding: 15px;
  }

  .h5CenterTop .portrait {
    border-radius: 50%;
    overflow: hidden;
    width: 80px;
    height: 80px;
    margin: 0 auto 12px auto;
  }

  .h5CenterTop .describe {
    color: #999;
    font-size: 12px;
    padding-top: 10px;
  }

  .h5CenterTop .left {
    text-align: center;
  }

  .h5CenterTop .ri {
    overflow: hidden;
  }

  .h5CenterTop .follow {
    text-align: center;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 0px;
    border-top: 0;
    border-bottom: 0;
    margin-left: 0px;
    margin-right: 0px;
  }

  .h5CenterTop .follow li {
    display: inline-block;
    width: 30%;
    text-align: center;
    font-size: 20px;
  }

  .h5CenterTop .follow li p {
    font-size: 12px;
  }

  .h5CenterTop .cneterNavlist {
    padding-top: 15px;
    padding-bottom: 0px;
    text-align: center;
  }

  .h5CenterTop .cneterNavlist li.bnt a {
    color: #fff;
    background: #e83032;
    border: 1px solid #e83032;
  }

  .h5CenterTop .cneterNavlist li {

    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 0;
    text-align: center;
    padding: 0px 0;
    display: inline-block;

  }

  .h5CenterTop .cneterNavlist li a {
    display: inline-block;
    width: auto;
    background: #fff;
    line-height: normal;
    border: 1px solid #bbbbbb;
    margin-right: 10px;
    border-radius: 50px;
    padding: 4px 12px;
    color: #424242;


  }

  .Release {
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .Release a {
    border: 1px solid #bbbbbb;
    color: #424242;
    border-radius: 50px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    display: block;
  }

  .centerRight {
    padding-top: 0px;
  }

  .centerRight .menu {
    height: auto;
    color: #999;
    background: #fff;
    margin: 0 -15px;
    text-align: center;
  }

  .centerRight .menu a {
    color: #fff;
    font-size: 16px;
    margin: 0px;
    display: inline-block;
    line-height: 45px;
    padding: 0 3px;
  }

  .centerRight .menu a span {
    color: #333;
    background: #fff;
    border-radius: 50px;
    display: block;

    margin: 0px;
    padding: 0px;
  }

  .centerRight .menu a.avtive span {
    color: #49acf3;
    background: #fff;
    border-radius: 50px;
    display: block;
    margin: 0px;
    padding: 0px;


  }

  .itemList li a .img {
    height: 350px;
  }

  .centerRight .typeBtn {
    text-align: center;
  }

  .centerRight .typeBtn a {
    display: inline-block;
    width: 80px;
    background: #fff;
    line-height: 35px;
    border-radius: 35px;
    color: #999;
    text-align: center;
    border: 1px solid #c2c2c3;
    margin:0 10px;
  }

}
