<!doctype html>
<html>
<head>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=DAlI2Hg7Z3ZM3LNRX61VhCdBmlAL5wlN"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta charset="utf-8" />
  <title>Your App</title>
</head>
<body>
<div id="root"></div>
</body>
</html>
