<!doctype html>
<html>
<head>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=DAlI2Hg7Z3ZM3LNRX61VhCdBmlAL5wlN"></script>
  <meta charset="utf-8" />
  <title>Your App</title>
</head>
<body>
<div id="root"></div>
</body>
</html>
