.pages1 {
  background: url(../assets/bg01.jpg) no-repeat center top / cover;
}

.pages1 .pageBox {
  padding: 0px 0 120px 0;
  margin: 0;
}

.pages1 .list li {
  float: left;
  width: 20%;
  font-size: 0;
  padding: 0 15px;
}

.pages2 {
  background: url(@/assets/bg02.jpg) no-repeat center top / cover;
}
.pages2 .list .item {
  width:100%;
}

.pages2 .list .item .icon {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.pages2 .list .item .imgBox {
  position: relative;
  height: 350px;
  border-radius: 15px;

}

.pages2 .list .item h2,
.pages2 .list .item p {
  text-align: left;
  font-size: 18px;
  color: #fff;
}

.pages2 .list .item p {
  font-size: 12px;
}

.pages2 .box .list {
  position: relative;
}

.pages2 .box .arrowLeft {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(@/assets/icon04.png) no-repeat center center / 50% auto;
  display: block;
  top: 150px;
  left: -40px;
}

.pages2 .box .arrowRight {
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(@/assets/icon05.png) no-repeat center center / 50% auto;
  display: block;
  top: 150px;
  right: -40px;
}

.menuList {
  text-align: center;
  font-size: 0;
  padding-bottom: 50px;
  position: relative;
}

.menuList a {
  position: absolute;
  right: 0;
  font-size: 14px;
  color: #fff;
  padding: 5px 25px;

}

.menuList span {
  background: #fff;
  font-size: 16px;
  color: #333;
  padding: 5px 25px;
  display: inline-block;
  border-radius: 50px;
  margin: 0 15px;
}

.pages2 .h5More {
  background: #34aaff;
  color: #fff;
  font-size: 25px;
  border-radius: 50px;
  padding: 20px 160px;
  margin-top: 80px;
  display: inline-block;
}

/* 会员专享 */
.pages3 {
  background: url(@/assets/bg01.png) repeat center top;
  text-align: center;
}

.pages3 img {
  margin: 0 auto;
}

.pages4 {
  background: url(@/assets/icon01_01.gif) repeat center top;
  text-align: center;
}

.pages4 .cn {
  text-align: center;
}

.pages4 .cn img {

  margin: 0 auto;
}

.pages5 .cn img {

  margin: 0 auto;
}

@media (max-width: 767px) {
  .pages1 {
    padding: 50px 0;
  }

  .pages1 .pageBox {
    padding: 0px 0 60px 0;
  }

  .pages1 .pageBox img {
    height: 80px;
    width: auto;
  }

  .pages1 .list {
    margin: 0 30px;
  }

  .pages1 .list li {
    width: 33.333333%;
    font-size: 0;
    padding: 0 6px;
    margin-bottom: 12px;
  }

  /* 分享 */

  .pages2 {
    background: url(@/assets/icon01_01.gif) repeat center top;
  }

  .pages2 .h5List {
    margin: 0 15px;
  }

  .pages2 .h5List li {
    width: 33.333333%;
    font-size: 0;
    padding: 0 6px;
    margin-bottom: 12px;
    float: left;
  }

  .pages2 .h5More {
    font-size: 20px;
    padding: 10px 100px;
    margin-top: 40px;
  }

  .pages5 {
    background: #ebebeb;
  }
}
