.editor {
  box-sizing: border-box;
  cursor: text;
  border: 1px solid #ddd;
  border-radius: .1rem;
  margin-bottom: 1em;
  padding: .5rem;
  background: #fefefe;
}

.border {
  border: none;
  background: none;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
}


.editor :global(.public-DraftEditor-content) {
  min-height: 1rem;
}
.options {
  float: left;
}

