
.normal {
  text-align: center;
}
.header{
  width:110rem;
  height: 43px;
  padding:1% 15% 1% 15%;
  border-bottom: 1px solid #bcbcbc;
}
.headerLogo{
  float:left;
  width: 250px;
  height: 60px;
  background: url("../assets/logo.png") no-repeat ;
  background-size: 100% 100%;
}
.phone{
  float:right;
  margin-right:3%;
  background: #49acf3;
  border-radius: 100px;
  width:180px;
  color:#fff;
  height: 25px;
  margin-top:10px;
  line-height: 25px;
}
.login{
  float:right;
  width:80px;
  height: 25px;
  background: #49acf3;
  border-radius: 100px;
  color:#fff;
  margin-top:10px;
  line-height: 25px;
}
.centerHeader{
  width:70%;
  height: 50px;
  padding:1% 15% 1% 15%;
  border-bottom: 1px solid #fff;
  background: #49acf3;
}
.centerHeaderLogo{
  float:left;
  width: 182px;
  height: 34px;
  background: url("../assets/logo-w.png") no-repeat ;
  background-size: 100% 100%;
}
@media (max-width: 980px) {
  .header{
    width:100%;
    padding:0;

  }
  .headerLogo{
    width: 9rem;
    height: 3rem;
    margin-top:.5rem;
    margin-left: 0rem;
  }
  .login{
    width:5rem;
    height: 2rem;
    margin-top:1rem;
    line-height: 2rem;
    margin-right: 1rem;
  }
  .phone{
    margin-right:3%;
    color:#fff;
    height: 2rem;
    margin-top:1rem;
    line-height: 2rem;
    width:10rem;
  }
  .header{
    border:none;
  }
}
